= render "signup-header"

%main
  = form_for @user do |f|
    #signup__user-info.signup
      .signup__body
        %section
          %h2.signup__title 会員情報入力
          .signup__inner
            .signup__content
              .form-group
                %label
                  ニックネーム
                  %span.form-require 必須
                %div
                  = f.text_field :nickname, class: "user-info__form",placeholder: "例）メルカリ太郎"
              .form-group
                %label
                  メールアドレス
                  %span.form-require 必須
                %div
                  = f.email_field :email, class: "user-info__form",placeholder: "PC・携帯どちらでも可"
              .form-group
                %label
                  パスワード
                  %span.form-require 必須
                %div
                  = f.password_field :password, class: "user-info__form",placeholder: "6文字以上"
              .form-group
                %label
                  パスワード(確認)
                  %span.form-require 必須
                %div
                  = f.password_field :password_confirmation, class: "user-info__form",placeholder: "6文字以上"
              .form-group.signup__attention
                %h3 本人確認
                %p.signup__attention--p 
                  安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
              .form-group
                %label
                  姓(全角)
                  %span.form-require 必須
                %div
                  = f.text_field :last_name, class: "user-info__form",placeholder: "例）山田"
              .form-group
                %label
                  名(全角)
                  %span.form-require 必須 
                %div
                  = f.text_field :first_name, class: "user-info__form",placeholder: "例）彩"
              .form-group
                %label
                  姓カナ(全角)
                  %span.form-require 必須
                %div
                  = f.text_field :last_name_kana, class: "user-info__form",placeholder: "例）ヤマダ"
              .form-group
                %label
                  名カナ(全角)
                  %span.form-require 必須
                %div
                  = f.text_field :first_name_kana, class: "user-info__form",placeholder: "例）アヤ"
              .form-group
                %label
                  生年月日
                  %span.form-require 必須
                .signup__select.birthday
                  .signup__select--body
                    = f.date_select :birthday,{use_month_numbers:true, start_year: 1900, end_year: 2019, include_blank: true}, {class: "select-field birthday__form"}
                  %ul
                    %li.birthday__date 年
                    %li.birthday__date 月
                    %li.birthday__date 日
                %p.signup__info-text 
                  ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

              .form-group
                = recaptcha_tags
              .form-group 
                %p.signup___info-text.text-center
                  「次へ進む」のボタンを押すことにより、
                  = link_to "利用規約", "#"
                  に同意したものとみなします。
              .form-group
                #tell-btn.signup__btn
                  次へ進む
              .form-group
                %p.text-right
                  = link_to "#" do
                    本人情報の確認について
                    = fa_icon "angle-right"

    #signup__tel-num.signup.hidden
      .signup__body
        %section
          %h2.signup__title 電話番号の確認
        .signup__inner
          .signup__content
            .form-group
              %label
                電話番号の確認
              %div
                = f.text_field :phone_num, class: "user-info__form", placeholder: "携帯電話の番号の入力"
              %p.signup__attention--p 
                本人確認のため、携帯電話のSMS(ショートメールメッセージサービス)を利用して認証を行います。
            .form-group
              = f.submit '次へ進む', class: "submit-btn--red", id: "address-btn"
              %p.signup__attention--p 
                電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group
              %p.text-right
                =link_to "#" do
                  電話番号の確認が必要な理由
                  = fa_icon "angle-right"

= render "/shared/single-footer"

