= render 'devise/registrations/signup-header'

%main
  #signup__address.signup
    .signup__body
      %section
        %h2.signup__title 支払い方法
      .signup__inner
        .signup__content
          = form_for "#", html: {class: 'signup__form'} do |f|
            .form-group.no-margin
              %label
                カード番号
                %span.form-require 必須
              .card-info__form
                = f.text_field :number, class: "input-card",placeholder: "半角数字のみ"
              %ul.card-info__company
                %li
                  = image_tag "visa.svg", width: 49, height: 20
                %li
                  = image_tag "master-card.svg", width:34, height: 20
                %li
                  = image_tag "saison-card.svg", width: 30, height: 20
                %li
                  = image_tag "jcb.svg", width: 32, height: 20
                %li
                  = image_tag "american_express.svg", width: 21, height: 20
                %li
                  = image_tag "dinersclub.svg", width: 32, height: 20
                %li
                  = image_tag "discover.svg", width: 32, height: 20
            .form-group
              %label
                有効期限
                %span.form-require 必須
              .card-info__select
                .card-info__select--body
                  = f.select :month, ["01", "02", "03", "04"], {}, {class: "select-field card-info__select--form"}
                  = fa_icon "angle-down"
                %span 月
              .card-info__select
                .card-info__select--body
                  = f.select :year, ["19", "20", "21", "22"], {}, {class: "select-field card-info__select--form"}
                  = fa_icon "angle-down"
                %span 年
            .form-group
              %label
                セキュリティコード
                %span.form-require 必須
              .card-info__form
                = f.text_field :security_code, class: "input-card",placeholder: "カード背面４桁もしくは３桁の番号"
              .card-info__form--question
                %p#security-code 
                  =fa_icon "question-circle", class: "question-icon"
                  カード裏面の番号とは？
                .security-code__description
                  カードの裏面をご参照ください。
                  %br
                  = image_tag "seq-card.png", width: 240
            .form-group
              = f.submit '次へ進む', class: "submit-btn--red"

= render 'shared/single-footer'