= render 'shared/header'

= render 'shared/nav'

%main.mypage-contents.clearfix
  = render 'shared/mypage-side'
  .mypage__main
    .logout-content
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" 

= render 'shared/footer'

= render 'shared/sell-btn'